*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.divDOM, .divDOMSuppr {
    padding: 16px 8px;
    border: 1px solid black;
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#zoneAffichage, #zoneSuppression {
    display: flex;
    gap: 8px;
}

.divAfficher {
    padding: 16px 8px;
    border: 1px solid purple;
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center; 
}